.contact-section {
  padding: 100px 0;
  text-align: center;
}

.contact-heading {
  margin-bottom: 30px;
  font-size: 2rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.error-prefix {
  color: red;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-style: italic;
}

textarea {
  height: 180px;
}

@media screen and (max-width: 768px) {
  .contact-form {
    padding: 0 20px; /* Add some horizontal padding for smaller screens */
  }

  .input-field {
    margin-bottom: 20px; /* Reduce the margin bottom for smaller screens */
    width: calc(100% - 30px); /* Adjust the width to account for padding */
  }

  textarea {
    height: 120px; /* Decrease the height of the textarea for smaller screens */
  }
}
