.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(
    100vh - 80px
  ); /* Subtracting the navbar height (adjust the value if needed) */
  /* background-color: #f2f2f2; */
}

.name {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.introduction {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.name.animate-fade-in,
.introduction.animate-fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  font-size: 50px;
  margin: 0 10px;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover .icon {
  transform: scale(1.2);
}

.github {
  color: #000;
}

.linkedin {
  color: #0077b5;
}

.twitter {
  color: #1da1f2;
}
