* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo {
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

.resume-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Added */
  text-align: center; /* Added */
  height: 45px;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
}

.nav-links a:hover {
  color: #005fb3;
}

.resume-button:hover {
  background-color: #04529b;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    margin-right: 0;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 20px 0;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    z-index: 1000;
  }

  .button-group {
    margin-top: 20px;
  }

  .resume-button {
    margin-left: 0;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
