.projects-container {
  padding: 20px;
}

.projects-heading {
  font-size: 60px;
  font-weight: bold;
}

.project-card {
  display: flex;
  height: 400px;
  background-color: #0d1117;
  color: #c9d1d9;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 80px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card .card-image {
  flex: 0 0 80px;
  width: 600px; /* Increase the width of the image */
  height: 100%; /* Maintain the height of the image */
  object-fit: cover;
  transition: transform 0.3s;
}

.project-card:hover .card-image {
  transform: scale(0.9);
}

.project-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.project-card .card-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 10px;
}

.project-card .card-text {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset; /* Remove line clamp to display full description */
}

.project-card .card-links {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.project-card .card-links a {
  color: #c9d1d9;
  margin-right: 8px;
  font-size: 25px;
}

.card-image {
  transition: transform 0.3s;
}

.card-image:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .project-card {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    height: auto; /* Set the height to auto to accommodate the text */
  }

  .project-card .card-title {
    font-size: 24px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust the margin for spacing */
  }

  .project-card .card-text {
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px; /* Adjust the margin for spacing */
    margin-bottom: 20px; /* Adjust the margin for spacing */
    text-align: center; /* Center align the text on smaller screens */
  }

  .project-card .card-links {
    margin-top: 10px; /* Adjust the margin for spacing */
  }

  .project-card .card-links a {
    font-size: 20px;
  }

  .project-card .card-image {
    display: block; /* Show the image on smaller screens */
    flex: 0 0 auto; /* Reset the flex value for the image */
    height: auto; /* Reset the height to auto */
    width: 100%; /* Set the width to 100% to fit the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    transition: transform 0.3s;
  }

  .project-card:hover .card-image {
    transform: scale(0.9);
  }
}
